/public/storage
/public/images/*.png
/public/images/*.jpeg
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
.phpunit.result.cache
*.code-workspace
composer.lock
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
